<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.activity.title"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.activity.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="activities.edit({ activityId: vm.activity._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.activity.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.activity.user"
            data-ng-bind="vm.activity.user.displayName"></span>
      <span data-ng-if="!vm.activity.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.activity.content"></p>
  <div class="row">
    <div class="col-md-12">
      <map zoom="10" center="[55.40, 11.00]" style="height:500px">
        <marker position="55.349618811160326, 11.101303026080132" title="Start"></marker>
        <shape name="polyline"
          path="{{path}}"
          geodesic="true"
          stroke-color="#FF0000"
          stroke-opacity="1.0"
          stroke-weight="3">
        </shape>
      </map>
    </div>
  </div>

  </section>
