<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.activity.title"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.activity.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="activities.edit({ activityId: vm.activity._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.activity.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.activity.user"
            data-ng-bind="vm.activity.user.displayName"></span>
      <span data-ng-if="!vm.activity.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.activity.content"></p>
  <div class="row">
    <div class="col-md-12">
      <div id="googlemaps" style="height: 500px;">

      </div>
    </div>
  </div>
</section>
<script>

      // This example creates a 2-pixel-wide red polyline showing the path of William
      // Kingsford Smith's first trans-Pacific flight between Oakland, CA, and
      // Brisbane, Australia.

      function initMap() {
        var map = new google.maps.Map(document.getElementById('googlemaps'), {
          zoom: 3,
          center: {lat: 0, lng: -180},
          mapTypeId: google.maps.MapTypeId.TERRAIN
        });

        var flightPlanCoordinates = [
          {lat: 37.772, lng: -122.214},
          {lat: 21.291, lng: -157.821},
          {lat: -18.142, lng: 178.431},
          {lat: -27.467, lng: 153.027}
        ];
        var flightPath = new google.maps.Polyline({
          path: flightPlanCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        flightPath.setMap(map);
      }
    </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ3uWhIQpyzgh4ytb5dtnC38jRZmasbCM&callback=initMap"></script>
