<section>
  <div class="page-header">
    <h1>Sports</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="sport in vm.sports"
       data-ui-sref="sports.view({ sportId: sport._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="sport.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="sport.user" data-ng-bind="sport.user.displayName"></span>
        <span data-ng-if="!sport.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="sport.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.sports.$resolved && !vm.sports.length">
    No Sports yet, why don't you <a data-ui-sref="sports.create">create one</a>?
  </div>
</section>
